<div>
    <h1 style="text-align: center;"><span style="color: #7a7a83;">请假单</span></h1>
    <table style="border-collapse: collapse; width: 100%;  background-color: #ffffff; border: 1px solid #e5e5e5;" border="1">
        <tbody>

            <tr style="height: 50px;">
                <td style="width: 15%; text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">请假人</span></strong></td>
                <td style=" width: 35%; text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;">&nbsp;
                </td>
                <td style="width: 15%;  text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">请假部门</span></strong></td>
                <td style=" width: 35%; text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;">&nbsp;
                </td>
            </tr>

            <tr style="height: 50px;">
                <td style=" text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">请假时间</span></strong></td>
                <td style="  text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;">&nbsp;
                </td>
                <td style="  text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">电话</span></strong></td>
                <td style="  text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;">&nbsp;
                </td>
            </tr>

            <tr style="height: 150px;">
                <td style=" text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">请假事由</span></strong></td>
                <td style="  text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;" colspan="3">
                    &nbsp;
                </td>
            </tr>

            <tr style="height: 150px;">
                <td style="  text-align: right; padding: 10px; border-style: solid; border-color: #e5e5e5; background-color: #f7f7f7;">
                    <strong><span style="color: #7a7a83;">意见</span></strong></td>
                <td style="  text-align: left; padding: 10px; border-style: solid; border-color: #e5e5e5;" colspan="3">
                    &nbsp;
                </td>
            </tr>

        </tbody>
    </table>
</div>