<div>
    <h1 style="text-align: center;"><span style="color: #e74c3c;">局内部请示审批单</span></h1>
    <table style="border-collapse: collapse; width: 100%;  background-color: #ffffff; border: 1px solid #e74c3c;" border="1">

        <tbody>

            <tr style="height: 50px;">
                <td style="width: 10%; text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">编号</span></strong></td>
                <td style="width: 23%; text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
                <td style="width: 10%;  text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">部门编号</span></strong></td>
                <td style="width: 23%; text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
                <td style="width: 10%;  text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">紧急程度</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
            </tr>

            <tr style="height: 50px;">
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">标题</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="5">
                    &nbsp;
                </td>
            </tr>

            <tr style="height: 50px;">
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">主送</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="5">
                    &nbsp;
                </td>
            </tr>

            <tr style="height: 50px;">
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">审核部门</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="5">
                    &nbsp;
                </td>
            </tr>

            <tr style="height: 50px;">
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">会签部门</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="5">
                    &nbsp;
                </td>
            </tr>

            <tr style="height: 125px;">

                <td style=" text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">部门核稿人</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="2">&nbsp;
                </td>

                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">报文部门</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;" colspan="2">&nbsp;
                </td>

            </tr>

            <tr style="height: 50px;">
                <td style=" text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">拟稿人</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">拟稿时间</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
                <td style="text-align: center; padding: 10px; border-style: solid; border-color: #e74c3c;">
                    <strong><span style="color: #e74c3c;">办公电话</span></strong></td>
                <td style="text-align: left; padding: 10px; border-style: solid; border-color: #e74c3c;">&nbsp;
                </td>
            </tr>

        </tbody>
    </table>
</div>