@font-face {
  font-family: 'bpm-icon';
  src:  url('bpm-icon.eot?9ur9wv');
  src:  url('bpm-icon.eot?9ur9wv#iefix') format('embedded-opentype'),
    url('bpm-icon.ttf?9ur9wv') format('truetype'),
    url('bpm-icon.woff?9ur9wv') format('woff'),
    url('bpm-icon.svg?9ur9wv#bpm-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bpm-"], [class*=" bpm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bpm-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bpm-excel:before {
  content: "\e900";
}
.bpm-shuaxin:before {
  content: "\e901";
}
.bpm-WORD:before {
  content: "\e902";
}
.bpm-transaction:before {
  content: "\e903";
}
.bpm-save:before {
  content: "\e904";
}
.bpm-edit:before {
  content: "\e905";
}
.bpm-encode:before {
  content: "\e906";
}
.bpm-input:before {
  content: "\e907";
}
.bpm-layout:before {
  content: "\e908";
}
.bpm-menu1:before {
  content: "\e909";
}
.bpm-menu2:before {
  content: "\e90a";
}
.bpm-menu3:before {
  content: "\e90b";
}
.bpm-draft:before {
  content: "\e90c";
}
.bpm-office:before {
  content: "\e90d";
}
.bpm-abeyance:before {
  content: "\e90e";
}
.bpm-novellooker:before {
  content: "\e90f";
}
.bpm-locale:before {
  content: "\e910";
}
.bpm-computer:before {
  content: "\e911";
}
.bpm-supervising-list:before {
  content: "\e912";
}
.bpm-check:before {
  content: "\e913";
}
.bpm-mark:before {
  content: "\e914";
}
.bpm-attribute:before {
  content: "\e915";
}
.bpm-relationship:before {
  content: "\e916";
}
.bpm-right-rough:before {
  content: "\e917";
}
.bpm-left-rough:before {
  content: "\e918";
}
.bpm-house:before {
  content: "\e919";
}
.bpm-enlarge:before {
  content: "\e91a";
}
.bpm-search:before {
  content: "\e91b";
}
.bpm-plane:before {
  content: "\e91c";
}
.bpm-group:before {
  content: "\e91d";
}
.bpm-service-project:before {
  content: "\e91e";
}
.bpm-copy:before {
  content: "\e91f";
}
.bpm-work-space:before {
  content: "\e920";
}
.bpm-work-broker:before {
  content: "\e921";
}
.bpm-official-document:before {
  content: "\e922";
}
.bpm-national-emblem .path1:before {
  content: "\e923";
  color: rgb(229, 68, 5);
}
.bpm-national-emblem .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(242, 182, 15);
}
.bpm-national-emblem .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(247, 70, 8);
}
.bpm-national-emblem .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(247, 188, 22);
}
.bpm-national-emblem .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(234, 159, 7);
}
.bpm-national-emblem .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(239, 187, 20);
}
.bpm-skin:before {
  content: "\e929";
}
.bpm-meeting1:before {
  content: "\e92a";
}
.bpm-meeting2:before {
  content: "\e92b";
}
.bpm-meeting3:before {
  content: "\e92c";
}
.bpm-truck:before {
  content: "\e92d";
}
.bpm-organization:before {
  content: "\e92e";
}
.bpm-infrastructure:before {
  content: "\e92f";
}
.bpm-plus-rough:before {
  content: "\e930";
}
.bpm-plus:before {
  content: "\e931";
}
.bpm-minus-bending:before {
  content: "\e932";
}
.bpm-reduce:before {
  content: "\e933";
}
.bpm-cut:before {
  content: "\e934";
}
.bpm-ship:before {
  content: "\e935";
}
.bpm-align-vertical .path1:before {
  content: "\e936";
}
.bpm-align-vertical .path2:before {
  content: "\e937";
  margin-left: -1em;
}
.bpm-align-vertical .path3:before {
  content: "\e938";
  margin-left: -1em;
}
.bpm-align-vertical .path4:before {
  content: "\e939";
  margin-left: -1em;
}
.bpm-align-vertical .path5:before {
  content: "\e93a";
  margin-left: -1em;
}
.bpm-align-vertical .path6:before {
  content: "\e93b";
  margin-left: -1em;
}
.bpm-align-vertical .path7:before {
  content: "\e93c";
  margin-left: -1em;
}
.bpm-align-horizontal .path1:before {
  content: "\e93d";
}
.bpm-align-horizontal .path2:before {
  content: "\e93e";
  margin-left: -1em;
}
.bpm-align-horizontal .path3:before {
  content: "\e93f";
  margin-left: -1em;
}
.bpm-align-horizontal .path4:before {
  content: "\e940";
  margin-left: -1em;
}
.bpm-align-horizontal .path5:before {
  content: "\e941";
  margin-left: -1em;
}
.bpm-align-horizontal .path6:before {
  content: "\e942";
  margin-left: -1em;
}
.bpm-align-horizontal .path7:before {
  content: "\e943";
  margin-left: -1em;
}
.bpm-bus:before {
  content: "\e944";
}
.bpm-inline-block:before {
  content: "\e945";
}
.bpm-entrance:before {
  content: "\e946";
}
.bpm-link:before {
  content: "\e947";
}
.bpm-flow:before {
  content: "\e948";
}
.bpm-name:before {
  content: "\e949";
}
.bpm-drafting:before {
  content: "\e94a";
}
.bpm-message:before {
  content: "\e94b";
}
.bpm-cancel:before {
  content: "\e94c";
}
.bpm-user-group-hollow:before {
  content: "\e94d";
}
.bpm-user-hollow:before {
  content: "\e94e";
}
.bpm-calendar:before {
  content: "\e94f";
}
.bpm-calendar-manage:before {
  content: "\e950";
}
.bpm-delete:before {
  content: "\e951";
}
.bpm-delete-database:before {
  content: "\e952";
}
.bpm-arrow-down-rough:before {
  content: "\e953";
}
.bpm-arrow-up-border:before {
  content: "\e954";
}
.bpm-config:before {
  content: "\e955";
}
.bpm-application:before {
  content: "\e956";
}
.bpm-time:before {
  content: "\e957";
}
.bpm-mark2:before {
  content: "\e958";
}
.bpm-fit-window:before {
  content: "\e959";
}
.bpm-put-away .path1:before {
  content: "\e95a";
}
.bpm-put-away .path2:before {
  content: "\e95b";
  margin-left: -1em;
}
.bpm-put-away .path3:before {
  content: "\e95c";
  margin-left: -1em;
}
.bpm-put-away .path4:before {
  content: "\e95d";
  margin-left: -1em;
}
.bpm-put-away .path5:before {
  content: "\e95e";
  margin-left: -1em;
}
.bpm-put-away .path6:before {
  content: "\e95f";
  margin-left: -1em;
}
.bpm-put-away .path7:before {
  content: "\e960";
  margin-left: -1em;
}
.bpm-put-away .path8:before {
  content: "\e961";
  margin-left: -1em;
}
.bpm-put-away .path9:before {
  content: "\e962";
  margin-left: -1em;
}
.bpm-put-away .path10:before {
  content: "\e963";
  margin-left: -1em;
}
.bpm-put-away .path11:before {
  content: "\e964";
  margin-left: -1em;
}
.bpm-put-away .path12:before {
  content: "\e965";
  margin-left: -1em;
}
.bpm-put-away .path13:before {
  content: "\e966";
  margin-left: -1em;
}
.bpm-shrinkage1:before {
  content: "\e968";
}
.bpm-shrinkage-down:before {
  content: "\e969";
}
.bpm-shrinkage-left:before {
  content: "\e96a";
}
.bpm-shrinkage2:before {
  content: "\e96b";
}
.bpm-phone:before {
  content: "\e96c";
}
.bpm-authorize:before {
  content: "\e96d";
}
.bpm-import-data:before {
  content: "\e96e";
}
.bpm-database:before {
  content: "\e970";
}
.bpm-narrow:before {
  content: "\e971";
}
.bpm-tips:before {
  content: "\e972";
}
.bpm-notice:before {
  content: "\e973";
}
.bpm-notice-rough:before {
  content: "\e974";
}
.bpm-broadcast:before {
  content: "\e975";
}
.bpm-statistics:before {
  content: "\e976";
}
.bpm-back:before {
  content: "\e977";
}
.bpm-trust:before {
  content: "\e978";
}
.bpm-trust-history:before {
  content: "\e979";
}
.bpm-my-meeting:before {
  content: "\e97a";
}
.bpm-my-application:before {
  content: "\e97b";
}
.bpm-team:before {
  content: "\e97c";
}
.bpm-create-database:before {
  content: "\e97d";
}
.bpm-create-table:before {
  content: "\e97e";
}
.bpm-star-solid:before {
  content: "\e97f";
}
.bpm-star-hollow:before {
  content: "\e980";
}
.bpm-dashed:before {
  content: "\e981";
}
.bpm-key:before {
  content: "\e982";
}
.bpm-key-rough:before {
  content: "\e983";
}
.bpm-arrow-right-multiple:before {
  content: "\e984";
}
.bpm-arrow-right:before {
  content: "\e985";
}
.bpm-complete:before {
  content: "\e986";
}
.bpm-hide1:before {
  content: "\e987";
}
.bpm-hide2:before {
  content: "\e988";
}
.bpm-user-solid:before {
  content: "\e989";
}
.bpm-user-group-solid:before {
  content: "\e98a";
}
.bpm-language:before {
  content: "\e98b";
}
.bpm-add:before {
  content: "\e98c";
}
.bpm-add-bending:before {
  content: "\e98d";
}
.bpm-paste:before {
  content: "\e98e";
}
.bpm-expansion .path1:before {
  content: "\e98f";
}
.bpm-expansion .path2:before {
  content: "\e990";
  margin-left: -1em;
}
.bpm-expansion .path3:before {
  content: "\e991";
  margin-left: -1em;
}
.bpm-expansion .path4:before {
  content: "\e992";
  margin-left: -1em;
}
.bpm-expansion .path5:before {
  content: "\e993";
  margin-left: -1em;
}
.bpm-expansion .path6:before {
  content: "\e994";
  margin-left: -1em;
}
.bpm-expansion .path7:before {
  content: "\e995";
  margin-left: -1em;
}
.bpm-expansion .path8:before {
  content: "\e996";
  margin-left: -1em;
}
.bpm-expansion .path9:before {
  content: "\e997";
  margin-left: -1em;
}
.bpm-expansion .path10:before {
  content: "\e998";
  margin-left: -1em;
}
.bpm-expansion .path11:before {
  content: "\e999";
  margin-left: -1em;
}
.bpm-expansion .path12:before {
  content: "\e99a";
  margin-left: -1em;
}
.bpm-expansion .path13:before {
  content: "\e99b";
  margin-left: -1em;
}
.bpm-read-only:before {
  content: "\e99c";
}
.bpm-exponent1:before {
  content: "\e99d";
}
.bpm-exponent2:before {
  content: "\e99e";
}
.bpm-exponent3:before {
  content: "\e99f";
}
.bpm-important:before {
  content: "\e9a0";
}
.bpm-field:before {
  content: "\e9a1";
}
.bpm-combination:before {
  content: "\e9a2";
}
.bpm-combination-production:before {
  content: "\e9a3";
}
.bpm-turn-left:before {
  content: "\e9a4";
}
